---
title: about us
component: ContentPage
---
p.
  Eric Doane enjoys making savvy financial decisions for his family.

p.
  Alex Woolford is promiscuous with technology.

p.
  Together we are "eric y alex".
