---
title: backtesting the dow
component: ContentPage
---
div
  div
    h3 fork me on github
    p <a href="https://github.com/alexwoolford/backtesting-the-dow">github.com/alexwoolford/backtesting-the-dow</a>
